body {
    padding: 0;
    margin: 0;
    /* padding-left: 100px; */
    box-sizing: border-box;

}

/*header element */
.head-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.head-logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 150px;
    align-self: center;

}

li {
    color: #f9faf8;
    font-size: 18px;
    list-style-type:none;
    padding-right: 30px;
    
   
}

.link-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 150px;
    
    
}
 
    

/* end */



/* first element */
.first {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 150px;
    padding-inline: 150px;
}

.placeholder-img  {
    width: 800px;
    height: 300px;
    border: 5px solid yellow;
}

.left-text {
    /* height: 500px; */
    width: 500px;
    

}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
 
}
/* main hero seletor maybe? */
.hero {
    color:#f9faf8;
    font-size: 18px;

}

.sign-up {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;

}
/* end */



/* second element */
.second {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 150px;
    row-gap: 40px;
    align-items: center;
   
}

/* .img-box { */
    /* display: flex; */

/* } */

#randoms-heading {
    text-align: center;
    width: 2400px;
    /* border: 5px solid blue; */
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
}

.img-con {
    /* border: 5px solid blue; */
    text-align: center;
    
 
}

#random-img {
    width: 300px;
    height: 300px;
    border: 5px solid #385bf6;
    border-radius: 10%;
}
/* end */



/* third element */
.third {
    background-color: #e5e7eb;
    height: 500px;
    padding-inline: 240px;
    
}
.qoute {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    /* text-align: center; */
    padding-top: 150px;
}

.thor {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    text-align:right ;
    
}

/* end */



/* fourth element */
.fourth {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding-block: 100px;
    padding-inline: 150px;

}

.call-to { 
    width: 100%;
    color: #f9faf8;
    background-color:#3882f6 ;
    border: 5px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
    padding-inline: 170px;
    gap: 500px;
    border-radius: 15px;
    

}

.sign-up2 {
    height: 60px;
    border: 5px solid white ;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    

}

/* end */



/* footer */
footer {
    color:#f9faf8;
    box-sizing: border-box;
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    padding-top:40px ;

}

/* end */

