body {
    padding: 0;
    margin: 0;
    /* padding-left: 100px; */
    box-sizing: border-box;

}

/*header element */
.head-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.head-logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 150px;
    align-self: center;

}

li {
    color: #f9faf8;
    font-size: 18px;
    list-style-type:none;
    padding-right: 30px;
    
   
}

.link-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 150px;
    
    
}
 
    

/* end */



/* first element */
.first {
    background-color: #1F2937;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.img-cont {
    height: 500px;
    width: 500px;
    
}

img {
    width: 300px;
}

.left-text {
    height: 500px;
    width: 500px;
    

}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
 
}
/* main hero seletor maybe? */
.hero {
    color:#f9faf8;

}

.sign-up {
    color: #f9faf8;
    background-color: #3882f6;

}
/* end */



/* second element */
.second {
    background-color: bisque;
}
/* end */



/* third element */
.third {
    background-color: blueviolet;
}

/* end */



/* fourth element */
.fourth {
    background-color: yellow;
}

/* end */



/* footer */
footer {
    background-color: grey;
}

/* end */

